* {
    box-sizing: border-box;
}

#root {
    max-width: 800px;
    margin: auto;
}

.App {
    max-width: 100%;
    padding: 20px;
    margin: auto;
    outline: 0.08em solid silver;
}

.flex-container-simpl {
    display: flex;
    margin: 0.4em;
}



.flex-container {
    background-color: #F4F7F8;
    display: flex;
    margin: 1em;
}

.item {
    margin: 1em;
    padding: 0.5em;
    width: 110px;
    min-width: 0;
    background-color: #1B5385;
    color: white;
    font-family: monospace;
}

.initial {
    flex: initial;
}

.auto {
    flex: auto;
}

.none {
    flex: none;
}

.four {
    flex: 4;
}

.two {
    flex: 2;
}

.one {
    flex: 1;
}

.size-1 {
    font-size: 2rem;
}

.size-2 {
    font-size: 1.5rem;
}

.size-3 {
    font-size: 2rem;
}

.size-4 {
    font-size: 2.5rem;
}

.size-5 {
    font-size: 3rem;
}

.text-center {
    text-align: center;
}

.btn {
    font-size: .875rem;
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
    line-height: 1.125rem;
    padding: .5rem 1rem;
    margin: 0;
    height: auto;
    border: 1px solid transparent;
    vertical-align: middle;
    -webkit-appearance: none;
    color: inherit;
    background-color: transparent;
}

.btn,
.btn:hover {
    text-decoration: none;
}

.btn-primary {
    color: #fff;
    background-color: #0074d9;
    border-radius: 3px;
}