  .joueurs .item.item-joueur-0:first-child {
    background-color: blue;
  }

  .joueurs .item.item-joueur-1:last-child {
    background-color: rgb(160, 193, 42);
  }

  .bleu{
    background-color: rgba(0, 0, 255);
  }

  .green {
    background-color: rgb(160, 193, 42);
  }