.letters {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 700px;
  ;
  margin: auto;
  user-select: none;
}

.letters>.letter {
  font-size: 2em;
  flex: 1 1 calc(100% / 13 - 0.4em);
  outline: 0.08em solid silver;
  margin: 0.2em;
  display: flex;
  cursor: default;
}

.letters>.letter:hover {
  outline: 0.1em solid blue;
}

.letters>.letter.hidden {
  background: silver;
}

.letters>.letter.justMatched,
.letters>.letter.justMismatched {
  outline: 0.1em solid green;
  background: green;
  color: white;
}

.letters>.letter.justMismatched {
  outline-color: red;
  background: red;
}

.letters>.letter.visible {
  cursor: not-allowed;
}

.letters>.letter>.symbol {
  margin: auto;
}